.content {
  background-color: #fafafa;
  padding:2% 4.7%;
}
:host {
  section {
    width: 75%;
    ::ng-deep {
      padding-right: 50px;
    }
  }
  aside{
    width: 25%;
  }
}

@media (max-width: 600px){
  :host{
    section{
      width: 100%;
      min-width:290px;
      ::ng-deep{
        padding-right: 0px;
      }
    }
    aside{
      display: none;
    }
  }
}
