.header-botbar-row {
  height: 36px;
}
.header-bar {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ::ng-deep{
    justify-content: space-between;
  }
}
@media ( max-width: 600px ){
  .header-bar{
    flex-direction: column;
    ::ng-deep{
      * {
        flex-direction: row;
        padding: 2.5px 0px;
      }
      :last-child{
        padding-bottom: 5px;
      }
    }
  }
  .mat-toolbar-row {
    height: 100%;
  }
}
