:host {
  height: 100%;
  border-bottom: 1px solid rgba(241,248,233,.2);
}

.center-horizotally{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo{
  padding-left: 100%;
}
