@import '~@angular/material/theming';

@include mat-core();

$civil-culture-primary: mat-palette($mat-light-green,700);
$civil-culture-accent: mat-palette($mat-green, 700);
$civil-culture-warn: mat-palette($mat-red);
$civil-culture-theme: mat-light-theme($civil-culture-primary, $civil-culture-accent, $civil-culture-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto Condensed,sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);
@include angular-material-theme($civil-culture-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
