<mat-card *ngFor="let n of news" >
  <mat-card-header>
    <mat-card-title> {{ n.title }} </mat-card-title>
    <mat-card-subtitle>{{ n.author }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ n.body }}</p>
  </mat-card-content>
  <mat-card-footer>
    {{ n.author }}
  </mat-card-footer>
</mat-card>
