:host{
  .mat-card-content{
    word-wrap: break-word;
    text-transform: capitalize;
    text-align: justify;
    p::first-letter{
      padding-left: 20px;
    }
  }
  .mat-card{
    padding: 10px;
    margin-bottom: 20px;
  }
  .mat-card-footer{
    margin: 0px;
    display: inherit;
  }
}

.mat-card-content{
  height:400px;
}

@media (max-width: 600px){
  .mat-card{
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }
}
